<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Price prediction</title>
<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
<style>
body {
  background-image: url('/static/bac.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size:cover;
}
label {
	display: inline-block;
  	width: 200px;
  	text-align: right;

}
</style>
</head>
<body>
 <div class="main">
	<center><h2 style="font-size: x-large;">Price Prediction (ML deployment)</h2>
     <form action="{{ url_for('predict')}}"method="post" class="form">
		<label for="vehiclename" style="color:black; font-size: medium;">Vehicle Name:</label>
    	<input list="vehiclename" style="width: 150px" name="vehiclename" placeholder="vehicle name" required="required"/>
		<datalist id="vehiclename">
		</datalist>
		<br>
		<br>
		<label for="battery" style="color:black; font-size: medium;">Battery (kWh):</label>
    	<input type="number" style="width: 150px" name="battery" placeholder="(16 - 200)" min="16.0" max="200.0" step="0.01" required="required"/>
		<br>
		<br>
		<label for="acceleration" style="color:black; font-size: medium;">Acceleration (sec):</label>
		<input type="number" style="width: 150px" name="acceleration" placeholder="(2.1 - 22.4)" min="2.1" max="22.4" step="0.01" required="required" />
		<br>
		<br>
		<label for="topspeed" style="color:black; font-size: medium;">Top Speed (km/h):</label>
		<input type="number" style="width: 150px" name="topspeed" placeholder="(123 - 410)" min="123" max="410" step="0.01" required="required" />
		<br>
		<br>
		<label for="distance" style="color:black; font-size: medium;">Distance/Range (km):</label>
		<input type="number" style="width: 150px" name="distance" min="95" max="970" placeholder="(95 - 970)" step="0.01" required="required" />
		<br>
		<br>
		<label for="efficiency" style="color:black; font-size: medium;">Efficiency (Wh/km):</label>
		<input type="number" style="width: 150px" name="efficiency" min="104" max="281" placeholder="(104 - 281)" step="0.01" required="required" />
		<br>
		<br>
		<label for="fastcharge" style="color:black; font-size: medium;">Fastcharge (km/h):</label>
		<input type="number" style="width: 150px" name="fastcharge" min="0" max="1410" placeholder="(0 - 1410)" step="0.01" required="required" />
		<br>
		<br>
		<label></label>
        <button type="submit" class="btn btn-primary btn-block btn-large" >Predict Price</button>
    </form>
   <br>
</center>
</div>
 <script src='{{url_for("static", filename="vehicle_names.js")}}'></script>
</body>
</html>